body {
    font-family: sans-serif;
    font-size: 22px;
}

.game-info {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ROCK {
    width: 200px;
    height: 200px;
    background-image: url("images/rock.png");
    background-size: contain;
    background-color: white;
}

.ROCK:hover,
.SCISSORS:hover,
.PAPER:hover {
    transform:scale(1.05);
    box-shadow: 10px;
    transition: 0.5s;
}

.SCISSORS {
    width: 200px;
    height: 200px;
    background-image: url("images/scissors.png");
    background-size: contain;
    background-color: white;
}

.PAPER {
    width: 200px;
    height: 200px;
    background-image: url("images/paper.png");
    background-size: contain;
    background-color: white;
}